@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%);
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  margin: 0;
}