@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --clr-pale-blue: hsl(243, 100%, 93%);
  --clr-grayish-blue: hsl(229, 7%, 55%);
  --clr-dark-blue: hsl(228, 56%, 26%);
  --clr-desaturated-dark-blue: #14204b;
  --clr-very-dark-blue: hsl(229, 57%, 11%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  height: 100vh;
  background: center/cover url("./images/bg-mobile.png") no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spacer {
  height: 40px;
}

.container {
  min-width: 325px;
  width: 80%;
  max-width: 900px;
}

header,
.storage-summary {
  background-color: var(--clr-dark-blue);
  min-width: 325px;
  margin: 1.2em 0;
}

header {
  border-radius: 0.8em 8em 0.8em 0.8em;
  padding: 3em;
}

header .logo {
  display: block;
  margin-bottom: 2.5em;
}

header button {
  width: 3.5em;
  height: 3.5em;
  margin-right: 1em;
  border-radius: 0.8em;
  border: none;
  background-color: var(--clr-very-dark-blue);
}

.storage-summary {
  border-radius: 0.8em;
  text-align: center;
  padding: 2.5em 2.5em 3.2em 2.5em;
  position: relative;
}

.storage-summary label {
  color: white;
}

.storage-summary progress {
  margin: 1em 0 0.5em 0;
  height: 20px;
  width: 100%;
  background-color: var(--clr-desaturated-dark-blue);
  border: 3px solid var(--clr-desaturated-dark-blue);
  border-radius: 3em;
}

.storage-summary progress[value]::-webkit-progress-bar {
  border-radius: 3em;
  background-color: var(--clr-desaturated-dark-blue);
}

.storage-summary progress[value] {
  border-radius: 3em;
  position: relative;
}

.storage-summary progress[value]::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 3em;
  position: absolute;
  bottom: 2px;
  left: calc(81.5% - 12px);
}

.storage-summary progress[value]::-webkit-progress-value {
  border-radius: 3em;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
}

.storage-summary progress[value]::-moz-progress-bar {
  border-radius: 3em;
  background-image: -moz-linear-gradient(to right, #ffa399, #ff4d97);
}

.storage-summary .indicator-labels {
  color: white;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage-summary .storage-left {
  background-color: white;
  width: 164px;
  padding: 0.8em 1.5em;
  gap: 0.5em;
  border-radius: 0.8em;
  font-weight: 700;
  color: var(--clr-grayish-blue);
  position: absolute;
  bottom: -30px;
  left: calc(50% - 82px);
}

.storage-summary .storage-left span {
  font-size: 2.5em;
  font-weight: 700;
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 1em;
  margin: 1em;
}

.attribution a {
  color: hotpink;
}

@media only screen and (min-width: 760px) {
  body {
    background: left bottom/contain url("./images/bg-desktop.png") no-repeat var(--clr-very-dark-blue);
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  .container header {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .container .storage-summary {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
    padding: 2.5em;
  }
  .container .storage-left {
    left: calc(100% - 164px - 2.5em);
    bottom: 120px;
    border-bottom-right-radius: 0;
  }
  .container .storage-left::after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: -20px;
    right: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--clr-dark-blue);
  }
}
/*# sourceMappingURL=style.css.map */