@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-transparent-grayish-blue: hsla(212, 23%, 69%, 0.3);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--clr-light-grayish-blue);
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: var(--clr-very-dark-grayish-blue);
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articlePreviewCard {
  background-color: white;
  width: 80%;
  min-width: 325px;
  border-radius: 0.8em;
  position: relative;
  margin: 1em;
}

.articlePreviewCard .hero-image {
  height: 200px;
  background: 0 -15px/cover no-repeat url("./images/drawers.jpg");
  border-radius: 0.8em 0.8em 0 0;
}

.articlePreviewCard .content-container {
  padding: 1.6em 2.6em 0 2.6em;
}

.articlePreviewCard .card-footer,
.articlePreviewCard #sharingPane {
  height: 70px;
  border-radius: 0 0 0.8em 0.8em;
}

.articlePreviewCard .card-footer img.author,
.articlePreviewCard #sharingPane img.author {
  border-radius: 50%;
  width: 3em;
}

.articlePreviewCard .card-footer .article-meta,
.articlePreviewCard #sharingPane .article-meta {
  margin: 0 auto 0 1.2em;
}

.articlePreviewCard .card-footer .article-meta span,
.articlePreviewCard #sharingPane .article-meta span {
  color: var(--clr-grayish-blue);
}

#sharingButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.4em;
  width: 2.4em;
  border: none;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

#sharingButton:hover, #sharingButton:focus {
  background-color: var(--clr-desaturated-dark-blue);
}

#sharingButton:hover svg path, #sharingButton:focus svg path {
  fill: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sharingPane {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--clr-very-dark-grayish-blue);
  padding: 0 2.6em;
  border-radius: 0 0 0.8em 0.8em;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

#sharingPane span {
  color: var(--clr-grayish-blue);
  letter-spacing: 0.4em;
}

#sharingPane .social-links {
  margin-left: 1.2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#sharingPane.show {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.attribution {
  font-size: 11px;
  margin: 1em;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 660px) {
  h2 {
    font-size: 1.3rem;
  }
  .articlePreviewCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 760px;
    -webkit-box-shadow: 0.2em 1.5em 2em var(--clr-transparent-grayish-blue);
            box-shadow: 0.2em 1.5em 2em var(--clr-transparent-grayish-blue);
    margin: 4em 0;
    position: static;
  }
  .articlePreviewCard .hero-image {
    border-radius: 0.8em 0 0 0.8em;
    background-position-y: top;
    height: 100%;
    width: 40%;
  }
  .articlePreviewCard .content-container {
    width: 60%;
    margin: 0 1em 1em 1.2em;
  }
  .articlePreviewCard .content-container .card-footer {
    position: relative;
    bottom: 5px;
  }
  .articlePreviewCard .content-container .card-footer .sharing-container {
    position: relative;
  }
  .articlePreviewCard .content-container .card-footer .sharing-container #sharingPane {
    background-color: var(--clr-very-dark-grayish-blue);
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 1.3em 2.6em;
    border-radius: 0.8em;
    bottom: 60px;
    left: -105px;
    -webkit-box-shadow: 0 0.5em 0.5em var(--clr-transparent-grayish-blue);
            box-shadow: 0 0.5em 0.5em var(--clr-transparent-grayish-blue);
  }
  .articlePreviewCard .content-container .card-footer .sharing-container #sharingPane::after {
    content: "";
    background-color: var(--clr-very-dark-grayish-blue);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 44px;
    left: 111px;
    -webkit-box-shadow: 0.5em 0.5em 0.5em var(--clr-transparent-grayish-blue);
            box-shadow: 0.5em 0.5em 0.5em var(--clr-transparent-grayish-blue);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .articlePreviewCard .content-container .card-footer .sharing-container #sharingPane .social-links {
    margin-left: 1.2em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
/*# sourceMappingURL=style.css.map */