@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  margin: 0;
  background:
    top left / contain url("./images/bg-pattern-top-mobile.svg") no-repeat,
    bottom -40px right / contain url("./images/bg-pattern-bottom-mobile.svg") no-repeat
  ;
}

h1 {
  line-height: 1.1em;
  color: hsl(300, 43%, 22%);
}

p {
  font-weight: 500;
  letter-spacing: -0.03rem;
  line-height: 1.5rem;
  color: hsl(303, 10%, 53%);
}

.page-contents {
  width: 85%;
  min-width: 325px;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 5.5em;
}

header {
  text-align: center;
}

.ratings {
  list-style: none;
  margin: 3em 0;
  padding: 0;
}

.rating {
  text-align: center;
  background-color: hsl(300, 24%, 96%);
  margin: 1.2em 0;
  padding: 1em;
  border-radius: 0.6em;
}

.rating strong {
  font-size: small;
  display: block;
  color: hsl(300, 43%, 22%);
  margin-top: 0.8em;
}

.rating img {
  margin: 0 0.15em;
}

.review-content {
  font-size: small;
  background-color: hsl(300, 43%, 22%);
  margin: 1.2em 0;
  padding: 2.5em;
  border-radius: 0.6em;
  color: white;
}

.review-content .meta {
  display: inline-flex;
  align-items: center;
}

.review-content img {
  border-radius: 3em;
  width: 3em;
  margin-right: 1.5em;
}

.review-content figcaption {
  line-height: 1.5em;
  color: hsl(333, 80%, 67%);
}

.review-content cite {
  font-weight: 700;
  font-style: normal;
  color:white;
}

.review-content blockquote {
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.5rem;
  margin: 1.5em 0 0;
  opacity: 0.9;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 3em 0 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 870px) {
  body {
    padding-top: 3em;
  }

  .flex {
    display: flex;
    gap: 1.2em;
    align-items: center;
    justify-content: space-between;
  }

  body {
    background: 
    top left url("./images/bg-pattern-top-desktop.svg") no-repeat,
    bottom right url("./images/bg-pattern-bottom-desktop.svg") no-repeat
    ;
  }

  h1 {
    font-size: 3em;
  }

  .page-contents {
    margin-top: 3em;
  }

  header {
    text-align: left;
    flex-basis: 40%;
  }

  h1 {
    margin-bottom: 0;
  }

  .ratings {
    flex-basis: 50%;
  }

  .rating {
    padding: 1em 2em;
    width: 80%;
  }

  .rating:nth-child(2) {
    margin: 1.2em auto;
  }

  .rating:nth-child(3) {
    margin-left: auto;
  }

  .reviews {
    margin: 1em 0 4em;
    height: 300px;
  }

  .review-content:first-child {
    align-self: flex-start;
    margin-right: 1em;
  }

  .review-content:last-child {
    align-self: flex-end;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .rating {
    text-align: left;
  }

  .rating strong {
    display: inline-flex;
    margin-left: 2em;
    margin-top: 0;
  }
}